@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,400;1,500;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.btn {
    color: white;
    background-color: tomato;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.25s;
}

.btn:hover {
    background-color: black;
    transform: scale(1.1);
}

header {
    background: rgb(229,123,61);
    background: linear-gradient(173deg, rgba(229,123,61,1) 0%, rgba(243,241,240,1) 38%);    box-shadow: 0 2px 10px white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
}

header img {
    width: 50px;
    border-radius: 50%;
}

header h1 {
    padding: 10px 15px;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    font-family: 'Noto Serif', serif;
    font-size: 40px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav ul li {
    padding: 20px 30px;
}

nav ul li a {
    color: grey;
    content: "|"
    padding: 1rem;
    font-size: 20px;
    font-weight: 500;
}

nav ul li a:hover {
    color: black;
}

#home {    
    height: 87vh;
    color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home::after {
    content: '';
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: url(DSC_0892E.jpg) center center/cover;
    opacity: 0.4;
}

#home h2 {
    font-size: 55px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Noto Serif', serif;
    padding-bottom: 25px;
}

#home h3 {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

#home .btn {
    width: 15%;
}

#home .btn:hover {
    color: black;
    background-color: lightcyan;
}



#about {
    background: rgb(234,154,111);
background: linear-gradient(90deg, rgba(234,154,111,1) 0%, rgba(239,188,177,1) 57%, rgba(241,225,229,1) 100%);
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    width: 35%;
    height: 235px;
    width: 400px;
    border-radius: 69% 31% 30% 61% / 72% 47% 40% 27%; 
}

.left img {
    border-radius: 2px;
    height: 20;
}

.right {
    border-radius: 40px;
    background: linear-gradient 190deg, #466bc2, #3b5aa3;
    box-shadow: 5px 5px 20px #1a2848, -5px -5px 20px #68a0ff; 
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right h2 {
    color: tomato;
    font-size: 40px;
    font-weight: 500;
    align-self: center;
}

.right h3 {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0;
    align-self: center;
}

.right ul {
    list-style: none;
    color: grey;
    padding: 10px 0;
    align-self: auto;
}

.right .btn {
    width: 60%;
    margin: 20px 0;
    align-self: center;
}

.right ul li {
    font-size: 18px;
}

#services {
    background-color: white;
    background: url(us.jpeg) center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body .container {
  display: flex;
  flex direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: 0 10px 0;
}

body .container .card {
  position: relative;
  min-width: 220px;
  height: 330px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin: 10px;
  transition: 0.5s;
}

body .container .card:nth-child(1) .box .content a {
  background: #2196f3;
}

body .container .card:nth-child(2) .box .content a {
  background: #2196f3;
}

body .container .card:nth-child(3) .box .content a {
  background: #2196f3;
}

body .container .card .box {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #2a2b2f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .container .card .box:hover {
  transform: translateY(-50px);
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .container .card .box .content {
  padding: 10px;
  text-align: center;
}

body .container .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}


#services h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: white;
    border-bottom: 1.5px solid white;
    cursor: pointer;
}

#services .row {
    display: flex;
    height: 60vh;
    width: 75%;
    margin: 0 auto;
}

.card {
    padding: 20px;
    margin: 0 10px;
    text-align: center;
    background-color: lightcyan;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fas {
    color: tomato;
    padding: 25px 0;
    font-size: 65px;
    cursor: pointer;
    transition: all 0.25s;
}

.fas:hover {
    color: black;
    transform: scale(1.2);
}

.card h4 {
    padding: 10px 0;
    font-size: 25px;
    font-weight: 600;
}

.card p {
    font-size: 15px;
    color: grey;
}

#menu {
    height: 100vh;
    padding: 30px 0;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#menu h2 {
    width: 40%;
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    border-bottom: 1.5px solid black;
}

#menu .row {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    background-color: white;
    padding: 25px;
    margin: 40px 10px;
    border-radius: 10px;
}

.show h4 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.show img {
    border-radius: 50%;
    height: 60%;
}

.show p {
    padding: 10px 0;
    margin: 20px auto;
    text-align: center;
}

#Book_Table {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#Book_Table h2 {
    font-size: 35px;
    font-weight: 500;
    border-bottom: 2px solid white;
}

.bg-img {
    width: 100%;
    position: absolute;
    right: 0;
    z-index: -1;
}

.bg-img img {
    width: 100%;
    height: 95vh;
    opacity: 0.6;
}

#booking {
    color: black;
    background-color: white;
    z-index: 3;
    padding: 30px;
    width: 90%;
    height: 60vh;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 10px white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

label {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    cursor: pointer;
    font-size: 18px;
    width: ;
}

input {
    background-color: rgb(240, 247, 247);
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 7.5px 10px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 15px;
}

#reserve_btn {
    width: 70%;
    margin: auto;
}

footer {
    color: white;
    background-color: rgb(12, 11, 22);
    height: 30vh;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer h3 {
    font-size: 30px;
    font-weight: 600;
}

.fab {
    font-size: 30px;
    transition: all 0.25s;
    cursor: pointer;
}

.fab:hover {
    transform: scale(1.25);
}

.social {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Back_to_Top .fas {
    padding: 10px;
    font-size: 25px;
    color: white;
    background-color: tomato;
    position: fixed;
    right: 2%;
    bottom: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7.5px;
} 